<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Resume</title>
	<link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<h1>Resume Project</h1>
<p>
	<a th:href="@{/init/data}">Initialize Data</a>&nbsp;|&nbsp;
	<a th:href="@{/resume/show}">View Resume</a>&nbsp;|&nbsp;
	<a th:href="@{/api/resume/show}">View JSON</a>&nbsp;|&nbsp;
	<a th:href="@{/api/resume/references?firstName=Alexander&lastName=Garbuz}">View References</a>&nbsp;|&nbsp;
	<a th:href="@{/api/resume/skills}">View Skills</a>&nbsp;|&nbsp;
</p>

</body>
</html>