<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Resume</title>
	<link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<p><a th:href="@{/init/data}">Initialize Data</a>&nbsp;|&nbsp;<a th:href="@{/resume/show}">View Resume</a></p>
<h1>Resume Page</h1>

		<h1  th:text="${resume.firstName} + ' ' + ${resume.lastName}">Name</h1>
		<div>
			<div><a th:href="'mailto:'+${resume.contactInformation.email}" th:text="${resume.contactInformation.email}"/></a></div>
			<div><span th:text="${resume.contactInformation.address}"/></div>
			<div><span th:text="${resume.contactInformation.city}"/>, <span th:text="${resume.contactInformation.state}"/> <span th:text="${resume.contactInformation.zip}"/></div>

		</div>
		<h1>Recommendations</h1>
		<div th:each="r : ${resume.recommendations}" th:id="'recommendation' +${r.id}">
			<p><strong><span  th:text="${r.author}">Author</span></strong></p>
			<p><em><span th:text="${r.authorTitle}">Title</span></em></p>
			<p><em><span th:text="${r.relationship}">Relationship</span></em></p>
			<div th:text="${r.text}">Text</div>
			<hr size="0"/>
		</div>


</body>
</html>