<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/default-disabled.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1/css/bootstrap.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        body {
            padding-top: 70px; /* Adjust based on the height of your navbar */
        }
    </style> 
    
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Resume</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#summarySection">Summary</a></li>
                <li><a href="#workHistorySection">Work Experience</a></li>
                <li><a href="#recommendationsSection">Recommendations</a></li>
                <li><a href="#referencesSection">References</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Microservices / JSON <span class="caret"></span></a>
                    <ul class="dropdown-menu">
	                    <li><a th:href="@{/api/resume/show/1}">Resume</a></li>
                        <li><a th:href="@{/api/resume/skills/1}">Skills</a></li>
                        <li><a th:href="@{/api/resume/references?firstName=Alexander&lastName=Garbuz}">References</a></li>
                        <li><a th:href="@{/api/resume/work-history/Garbuz/Alexander}">Work History</a></li>
                        <li><a th:href="@{/work-history/show/1}">Work History as MVC</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

		<div id="contactInformationSection">
			<h1 th:text="${resume.firstName} + ' ' + ${resume.lastName}">Name</h1>
			<div><i class="fa fa-home"></i> <span th:text="${resume.contactInformation.address}"/> <span th:text="${resume.contactInformation.city}"/>, <span th:text="${resume.contactInformation.state}"/> <span th:text="${resume.contactInformation.zip}"/></div>
			<div><i class="fa fa-envelope"></i> <a th:href="'mailto:'+${resume.contactInformation.email}" th:text="${resume.contactInformation.email}"/></a></div>
			<div><i class="fa fa-phone"></i> <span th:text="${resume.contactInformation.phone}"/></div>
		</div>
		<div id="summarySection">
			<h2>Objective</h2>
			<div><span th:text="${resume.summary.objective}"/></div>
			<h2>Summary</h2>
			<div><span th:text="${resume.summary.summary}"/></div>
		</div>
		<div id="skillsSection">
			<h1>Skills</h1>
			<ul>
				<li th:each="sg: ${resume.skills}" th:id="'skillGroup' +${sg.id}">
					<p><strong><span  th:text="${sg.name} + ':'"/></strong> <span th:each="s, status :${sg.skills}" th:text="${s.name} + (${status.last} ? ';' : ', ')"/></p>
				</li>
			</ul>
		</div>
		<div id="educationSection">
			<h1>Education</h1>
			<dl>
				<div th:each="school : ${resume.educations}" th:id="'education' +${school.id}">
					<dt>
						<p><strong><span  th:text="${school.name} + ' (' + ${school.startDate.year} + ' - ' + ${school.endDate.year} + ')'"/></strong></p>
					</dt>
					<dd>
						<p><em><span th:text="${school.degree}"/></em></p>
						<p><span th:text="${school.comments}"/></p>
					</dd>
				</div>
			</dl>
		</div>
		<div id="certificationSection">
			<h1>Certifications</h1>
			<dl>
				<div th:each="r : ${resume.certifications}" th:id="'education' +${r.id}">
					<dt><p><strong><span  th:text="${r.name}"/></strong></p></dt>
					<dd><p><em><span th:text="${r.authority} + ' (' + ${r.date.year} + ')'"/></em></p></dd>
				</div>		
			</dl>
		</div>
		<div id="workHistorySection">
			<h1>Work History</h1>
			<div th:each="job: ${resume.jobs}" th:id="'job' +${job.id}">
				<p>
					<strong><span th:text="${job.title} + ' @ ' + ${job.companyName} + ' (' + ${job.start.year} +' - ' + ${job.end.year} + ')' "/></strong> 
					<ul>
						<li th:each="jr:${job.responsibilities}"><p th:text="${jr.text}"/></li>
					</ul>
				</p>
			</div>
		</div>
		<div id="recommendationsSection">
			<h1>Recommendations</h1>
			<div th:each="r : ${resume.recommendations}" th:id="'recommendation' +${r.id}">
				<div th:text="${r.text}"/>
				<p><strong><span  th:text="${r.author}"/></strong><br/><em><span th:text="${r.authorTitle}"/> (<span th:text="${r.relationship}"/>)</em></p>
				
			</div>
		</div>
		<div id="referencesSection">
			<h1>References</h1>
			<div th:each="r : ${resume.references}" th:id="'reference' +${r.id}">
				<p><strong><span  th:text="${r.name}"/></strong> (<span th:text="${r.title}"/>)</p>
				<ul>
					<li><a th:href="'mailto:'+${r.email}" th:text="${r.email}"/></a></li>
					<li><span th:text="${r.phone}"/></li>
				</ul>
			</div>
		</div>
</div>
</body>
</html>