<div id="resumeListSection" class="container">

		<div id="breadcrumbsSection" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Resumes</li>
		  </ol>
		</div>

	<div id="resumeList">
	        <div th:each="resume : ${resumeList}">
	        	<div th:id="'resumeListItem' + ${resume.id}">
	        		<span  th:text="${resume.id}"/> <a th:href="@{/resume/show} + '/' + ${resume.id}"><span th:text="${resume.lastName}"/> <span th:text="${resume.firstName}"/></a>
	        		<p><span th:text="${resume.objective}"/></p>
	        	</div>
	        </div>
	</div>

</div>