<div class="container">
		<div id="workHistorySection">
			<h1>Work History</h1>
			<p>This data is pulled from another REST service and then converted into web page.</p>
			<div th:each="job: ${jobs}" th:id="'job' +${job.id}">
				<p>
					<strong><span th:text="${job.title} + ' @ ' + ${job.companyName}"/></strong><br/>
					<span th:text="${job.location}"/> (<span th:text="${job.start}"/> - <span th:text="${job.end}"/>)
					<ul>
						<li th:each="jr:${job.responsibilities}"><p th:text="${jr.text}"/></li>
					</ul>
				</p>
			</div>
</div>